---
import SkillsList from "../react/SkillsList.tsx";
---

<section class="mb-12 md:mb-16">
  <h3
    class="text-center text-[var(--white)] text-3xl md:text-4xl font-semibold mb-6 md:mb-8"
  >
    Nuestros Servicios
  </h3>
  <SkillsList client:load />
</section>
